pkgbase = librewolf-bin
	pkgdesc = Community-maintained fork of Firefox, focused on privacy, security and freedom.
	pkgver = 74.0
	pkgrel = 5
	url = https://librewolf-community.gitlab.io/
	arch = x86_64
	arch = aarch64
	license = MPL
	license = GPL
	license = LGPL
	depends = gtk3
	depends = mozilla-common
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus-glib
	depends = ffmpeg
	depends = nss
	depends = ttf-font
	depends = libpulse
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = libnotify: Notification integration
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = hunspell-en_US: Spell checking, American English
	provides = librewolf
	conflicts = librewolf
	options = !emptydirs
	source = https://gitlab.com/librewolf-community/browser/linux/-/jobs/494547075/artifacts/raw/librewolf-74.0-5-x86_64.pkg.tar.xz
	sha256sums = f844dc54f2a508b8b4f7e10059e2a9cc3bfb1388d913d7a28dc343f75b07c64e

pkgname = librewolf-bin

