pkgbase = librewolf-bin
	pkgdesc = Community-maintained fork of Firefox, focused on privacy, security and freedom.
	pkgver = 74.0
	pkgrel = 4
	url = https://librewolf-community.gitlab.io/
	arch = x86_64
	arch = aarch64
	license = MPL
	license = GPL
	license = LGPL
	depends = gtk3
	depends = mozilla-common
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus-glib
	depends = ffmpeg
	depends = nss
	depends = ttf-font
	depends = libpulse
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = libnotify: Notification integration
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = hunspell-en_US: Spell checking, American English
	provides = librewolf
	conflicts = librewolf
	options = !emptydirs
	source = https://gitlab.com/librewolf-community/browser/linux/-/jobs/492367575/artifacts/raw/librewolf-74.0-4-x86_64.pkg.tar.xz
	sha256sums = 9498b8103bc11b4926c45f3ebed12f2ef8ac38c68520eb38a4beb5848d06ec74

pkgname = librewolf-bin

