pkgbase = librewolf-bin
	pkgdesc = Community-maintained fork of Firefox, focused on privacy, security and freedom.
	pkgver = 74.0
	pkgrel = 1
	url = https://librewolf-community.gitlab.io/
	arch = x86_64
	arch = aarch64
	license = MPL
	license = GPL
	license = LGPL
	depends = gtk3
	depends = mozilla-common
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus-glib
	depends = ffmpeg
	depends = nss
	depends = ttf-font
	depends = libpulse
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = libnotify: Notification integration
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = hunspell-en_US: Spell checking, American English
	provides = librewolf
	conflicts = librewolf
	options = !emptydirs
	source = https://gitlab.com/librewolf-community/browser/linux/uploads/73883ebba1a1493bfe2c445fbd3267fe/librewolf-74.0-1-x86_64.pkg.tar.xz
	sha256sums = ad3423e8651dd11be7c30d3914dc9992853b0f8da461f4a8b69e09b2e458abd3

pkgname = librewolf-bin

